IFSProjects/QualityManagement/workspace/cmod/server/reports/schemas/PctToCompletion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?report  module="CMOD" package="PCT_TO_COMPLETION_REP" ?>
<xs:schema
   targetNamespace="urn:ifsworld-com:pct_to_completion_rep"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="urn:ifsworld-com:pct_to_completion_rep"
   elementFormDefault="qualified"
   attributeFormDefault="unqualified"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd">
   <xs:element name="PCT_TO_COMPLETION_REP_REQUEST">
      <xs:complexType>
         <xs:all minOccurs="1" maxOccurs="1">
            <xs:element name="PROCESSING_INFO">
               <xs:complexType>
                  <xs:all minOccurs="1" maxOccurs="1">
                     <xs:element name="FORMATTING_OPTIONS">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="COPIES" type="xs:int" nillable="true"/>
                              <xs:element name="PAGE_FROM" type="xs:int" nillable="true"/>
                              <xs:element name="PAGE_TO" type="xs:int" nillable="true"/>
                              <xs:element name="LANG_CODE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="5"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="LAYOUT_NAME" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="PRINT_DIRECTORY" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="LAYOUT_FILE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="SELECTED_PRINTER" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="LANGUAGE_LAYOUT_FILE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="PAPER_FORMAT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="PROCESSING_ATTRIBUTES">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="EXECUTION_TIME" type="xs:dateTime"/>
                              <xs:element name="ORDERED_BY" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="JOB_ID" type="xs:int" nillable="true"/>
                              <xs:element name="COMMENT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="ORDER_TIME" type="xs:dateTime"/>
                              <xs:element name="REPORT_TITLE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="PRINTED_BY" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="CREATED" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="STANDARD_TRANSLATIONS">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="ATTRIBUTE_DISPLAY_TEXTS">
                                 <xs:complexType>
                                    <xs:all minOccurs="1" maxOccurs="1">
                                       <xs:element name="EXECUTION_TIME" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="ORDERED_BY" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="JOB_ID" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="COMMENT" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="ORDER_TIME" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="REPORT_TITLE" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="PRINTED_BY" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="CURRENT_TIME" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="CURRENT_DATE" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="PAGE" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="END_OF_REPORT" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="REPORT_PARAMETERS" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="APPLICATION_TEXT" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="CREATED" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="NONE" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="NOTES" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="NO_DATA_FOUND" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                    </xs:all>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="SITE_TEXTS">
                                 <xs:complexType>
                                    <xs:all minOccurs="1" maxOccurs="1">
                                       <xs:element name="COMPANY_NAME" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_1" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_2" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_3" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_4" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_5" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_6" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_7" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_8" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_9" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_10" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                    </xs:all>
                                 </xs:complexType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:all>
               </xs:complexType>
            </xs:element>
            <xs:element name="PCT_TO_COMPLETION_REP_DATA_ASSEMBLY_PARAMETERS">
               <xs:complexType>
                  <xs:all minOccurs="1" maxOccurs="1">
                     <xs:element name="CUST_PO_NO">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CUST_ORDER">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="COMPANY">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:all>
               </xs:complexType>
            </xs:element>
            <xs:element name="PCT_TO_COMPLETION_REP_ARCHIVE_VARIABLES">
               <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                     <xs:element name="VARIABLE">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="NAME" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="PCT_TO_COMPLETION_REP_TRANSLATIONS">
               <xs:complexType>
                  <xs:all minOccurs="1" maxOccurs="1">
                     <xs:element name="REPORT_TEXTS">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="PCT_TO_COMPLETION" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ATTRIBUTE_DISPLAY_TEXTS">
                        <xs:complexType>
                           <xs:choice minOccurs="0" maxOccurs="1">
                              <xs:element name="COMP_HEADERS" nillable="true" minOccurs="0">
                                 <xs:complexType>
                                    <xs:choice minOccurs="0" maxOccurs="1">
                                       <xs:element name="COMP_HEADER">
                                          <xs:complexType>
                                             <xs:choice minOccurs="0" maxOccurs="24">
                                                <xs:element name="CUSTOMER_PO_NO" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="ORDER_NO" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="LINE_NO" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="REL_NO" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="COMPANY" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="PROJECT" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="SUB_PROJECT" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="ACTIVITY" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="CONTRACT_TYPE" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="FUNDED_TOTAL" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="FUNDED_AMT" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="CONTROL_CATEGORY" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="BASELINE_COST" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="USED_COST" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="PROGRESS_COST" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="BASELINE_HOURS" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="ACTUAL_HOURS" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="PROGRESS_HOURS" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="PLANNED_REVENUE" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="REVENUE_POSTED" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="EARLY_START" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="EARLY_FINISH" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="DESCRIPTION" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="COMP_SUMMARY" nillable="true" minOccurs="0">
                                                   <xs:complexType>
                                                      <xs:choice minOccurs="0" maxOccurs="1">
                                                         <xs:element name="COMP_SUMMARY">
                                                            <xs:complexType>
                                                               <xs:choice minOccurs="0" maxOccurs="14">
                                                                  <xs:element name="PROJECT_FUNDED_TOTAL" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="BASELINE_COST" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="USED_COST" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="COST_PROGRESS" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="BASELINE_HOURS" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="ACTUAL_HOURS" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="PROGRESS_HOURS" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="PLANNED_REVENUE" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="POSTED_REVENUE" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="COST_FC_THIRTY" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="COST_FC_THIRTY_SIXTY" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="COST_PROJ_SIXTY" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="PERCENT_FUNDING_REQ" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="AMT_DIFF_ALREADY_FUNDED" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                               </xs:choice>
                                                            </xs:complexType>
                                                         </xs:element>
                                                      </xs:choice>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:choice>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:choice>
                                 </xs:complexType>
                              </xs:element>
                           </xs:choice>
                        </xs:complexType>
                     </xs:element>
                  </xs:all>
               </xs:complexType>
            </xs:element>
            <xs:element name="PCT_TO_COMPLETION_REP">
               <xs:complexType>
                  <xs:choice minOccurs="0" maxOccurs="1">
                     <xs:element name="COMP_HEADERS" nillable="true" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence minOccurs="0" maxOccurs="unbounded">
                              <xs:element name="COMP_HEADER">
                                 <xs:complexType>
                                    <xs:choice minOccurs="0" maxOccurs="24">
                                       <xs:element name="CUSTOMER_PO_NO" nillable="true" minOccurs="0">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="100"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="ORDER_NO" nillable="true" minOccurs="0">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="100"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="LINE_NO" nillable="true" minOccurs="0">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="100"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="REL_NO" nillable="true" minOccurs="0">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="25"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="COMPANY" nillable="true" minOccurs="0">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="PROJECT" nillable="true" minOccurs="0">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SUB_PROJECT" nillable="true" minOccurs="0">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="ACTIVITY" nillable="true" minOccurs="0">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="25"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="CONTRACT_TYPE" nillable="true" minOccurs="0">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="25"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="FUNDED_TOTAL" type="xs:float" nillable="true" minOccurs="0"/>
                                       <xs:element name="FUNDED_AMT" type="xs:float" nillable="true" minOccurs="0"/>
                                       <xs:element name="CONTROL_CATEGORY" nillable="true" minOccurs="0">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="25"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="BASELINE_COST" type="xs:float" nillable="true" minOccurs="0"/>
                                       <xs:element name="USED_COST" type="xs:float" nillable="true" minOccurs="0"/>
                                       <xs:element name="PROGRESS_COST" type="xs:float" nillable="true" minOccurs="0"/>
                                       <xs:element name="BASELINE_HOURS" type="xs:float" nillable="true" minOccurs="0"/>
                                       <xs:element name="ACTUAL_HOURS" type="xs:float" nillable="true" minOccurs="0"/>
                                       <xs:element name="PROGRESS_HOURS" type="xs:float" nillable="true" minOccurs="0"/>
                                       <xs:element name="PLANNED_REVENUE" type="xs:float" nillable="true" minOccurs="0"/>
                                       <xs:element name="REVENUE_POSTED" type="xs:float" nillable="true" minOccurs="0"/>
                                       <xs:element name="EARLY_START" type="xs:dateTime" nillable="true" minOccurs="0"/>
                                       <xs:element name="EARLY_FINISH" type="xs:dateTime" nillable="true" minOccurs="0"/>
                                       <xs:element name="DESCRIPTION" nillable="true" minOccurs="0">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="500"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="COMP_SUMMARY" nillable="true" minOccurs="0">
                                          <xs:complexType>
                                             <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                <xs:element name="COMP_SUMMARY">
                                                   <xs:complexType>
                                                      <xs:choice minOccurs="0" maxOccurs="14">
                                                         <xs:element name="PROJECT_FUNDED_TOTAL" type="xs:float" nillable="true" minOccurs="0"/>
                                                         <xs:element name="BASELINE_COST" type="xs:float" nillable="true" minOccurs="0"/>
                                                         <xs:element name="USED_COST" type="xs:float" nillable="true" minOccurs="0"/>
                                                         <xs:element name="COST_PROGRESS" type="xs:float" nillable="true" minOccurs="0"/>
                                                         <xs:element name="BASELINE_HOURS" type="xs:float" nillable="true" minOccurs="0"/>
                                                         <xs:element name="ACTUAL_HOURS" type="xs:float" nillable="true" minOccurs="0"/>
                                                         <xs:element name="PROGRESS_HOURS" type="xs:float" nillable="true" minOccurs="0"/>
                                                         <xs:element name="PLANNED_REVENUE" type="xs:float" nillable="true" minOccurs="0"/>
                                                         <xs:element name="POSTED_REVENUE" type="xs:float" nillable="true" minOccurs="0"/>
                                                         <xs:element name="COST_FC_THIRTY" type="xs:float" nillable="true" minOccurs="0"/>
                                                         <xs:element name="COST_FC_THIRTY_SIXTY" type="xs:float" nillable="true" minOccurs="0"/>
                                                         <xs:element name="COST_PROJ_SIXTY" type="xs:float" nillable="true" minOccurs="0"/>
                                                         <xs:element name="PERCENT_FUNDING_REQ" type="xs:float" nillable="true" minOccurs="0"/>
                                                         <xs:element name="AMT_DIFF_ALREADY_FUNDED" type="xs:float" nillable="true" minOccurs="0"/>
                                                      </xs:choice>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:choice>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:choice>
               </xs:complexType>
            </xs:element>
         </xs:all>
      </xs:complexType>
   </xs:element>
</xs:schema>